<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.barryzeha.core">
    <application
        tools:node="remove"
        android:theme ="@style/Theme.KTMusicPlayer">
    </application>
</manifest>